name: UPDATE DASHBOARD

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install yfinance gspread oauth2client pandas
      - env:
          GOOGLE_CREDENTIALS_BASE64: ${{ secrets.GOOGLE_CREDENTIALS_BASE64 }}
        run: echo "$GOOGLE_CREDENTIALS_BASE64" | base64 -d > credentials.json
      - run: python sp500_top20.py
      - run: rm -f credentials.json
